.contacts-info {
  display: flex;
  align-items: center;
}

.contact-details {
  margin-right: 70px;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-list__link-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 3px;
  padding-bottom: 3px;

  color: var(--white-color);
}

.contact-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-list__link-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 3px;
  padding-bottom: 3px;

  color: var(--text-color-default);
}

.contacts-info {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-section);
}

.contacts__container {
  display: flex;
  align-items: baseline;
}
