.main-header {
  border-bottom: 1px solid #ececec;

  & .container {
    display: flex;
    align-items: center;
  }
}

.list-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.list-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.channel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  padding-top: var(--link-padding-tp);
  padding-bottom: var(--link-padding-bt);
  color: var(--content-description);
  transition: color var(--transition-time-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-icon-phone {
  margin-right: 10px;
  fill: currentColor;
}
