.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-right: 93px;
  animation-duration: 2000ms;

  &.link.animate__rubberBand {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.part-logo {
  color: var(--accent-color);
}

.logo-white {
  margin: auto;
  color: var(--white-color);
}

.link.logo.logo-white {
  display: block;
  margin-bottom: 20px;
}
